@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #394964;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


/* HEADER */

header {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto 0;
}

.logotipo img {
    width: 50%;
}

header h2 {
    font-size: 3rem;
}

header h4 {
    font-size: 1.6rem;
}

.navegacao ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao ul li {
    margin: 0 32px;
}

.navegacao ul li a {
    font-size: 2rem;
    font-weight: bold;
    line-height: 4rem;
    color: #394964;
}

.navegacao ul li a:hover {
    color: #73A2BF;
}



@media(max-width:768px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 560px) {
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background: #73A2BF;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
        cursor: pointer;
    }

    .menu-toggle {
        position: absolute;
        width: 40px;
        height: 30px;
        right: 0px;
        top: 20px;
        margin-right: 20px;
    }

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #03588C;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0px;
        top: 20px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    .menu-section.on nav ul {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 3.2rem;
        line-height: 6rem;
        display: block;
        color: #fff;
    }

    .menu-section.on nav ul a:hover {
        color: #F2CAA7;
    }

}

@media(max-width: 220px) {
    .menu-toggle {
        position: absolute;
        width: 20px;
        height: 10px;
        right: 0px;
        top: 20px;
        margin-right: 20px;
    }
}

/* HERO */

.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.hero-container img {
    width: 100%;
}

.contrate-arquiteto {
    position: absolute;
    text-align: center;
}

.contrate-arquiteto h1 {
    font-size: 6rem;
}

.contrate-arquiteto button {
    width: 250px;
    height: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 4px;
    background: #73A2BF;
    border: none;
    cursor: pointer;
}

.contrate-arquiteto button:hover {
    background: #03588C;
    color: #fff;
}

@media(max-width: 540px) {
    .contrate-arquiteto h1 {
        font-size: 3rem;
    }

    .contrate-arquiteto button {
        width: 100px;
        height: 20px;
        font-size: 1.2rem;
    }

}

@media(max-width: 260px) {
    .contrate-arquiteto h1 {
        font-size: 1.8rem;
    }

    .contrate-arquiteto button {
        width: 100px;
        height: 20px;
        font-size: 1.2rem;
    }
}

/* SOBRE */

.sobre-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre-container img {
    width: 200px;
    height: 200px;
    margin: -100px auto 8px;
    border-radius: 50%;

}

.sobre-container p {
    font-size: 1.8rem;
    margin: 24px auto;
}

.sobre-container button {
    width: 150px;
    height: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 4px;
    background: #73A2BF;
    border: none;
    cursor: pointer;
}

.sobre-container button:hover {
    background: #03588C;
    color: #fff;
}

@media(max-width: 850px) {
    .sobre-container img {
        width: 150px;
        height: 150px;
        margin: -75px auto 8px;
        border-radius: 50%;

    }

    @media(max-width: 755px) {
        .sobre-container img {
            width: 100px;
            height: 100px;
            margin: -50px auto 8px;
            border-radius: 50%;
        }
    }

    @media(max-width: 470px) {
        .sobre-container img {
            width: 80px;
            height: 80px;
            margin: -40px auto 8px;
            border-radius: 50%;

        }
    }

    @media(max-width: 320px) {
        .sobre-container img {
            display: none;

        }
    }
}

/* SERVIÇOS */

.servicos-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    flex-wrap: wrap;

}

.itemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.itemBox figure img {
    width: 150px;
    height: 150px;
    background-color: #dbdee421;
    border-radius: 50%;
    margin: 32px 60px;

}

.itemBox h5 {
    width: 200px;
    font-size: 2rem;
    text-align: center;
    margin: 8px 32px;
}

.itemBox p {
    width: 200px;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 32px;
}

/* PROJETOS RECENTES */

.recentes-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 46px auto 0px;
    background: #73A2BF;
}

.recentes-container h3 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin: 8px auto;
}

.itens-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.itemRecents img {
    width: 200px;
    margin: 8px 32px 36px;
    border-radius: 4px;
}

/* FORMULARIO */

.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 28px auto;
}

.contato {
    display: flex;
    flex-direction: column;
}

.contato label {
    font-size: 2rem;
}

.contato label span {
    color: red;
}

.contato input {
    width: 450px;
    height: 28px;
    font-size: 1.6rem;
    border: none;
    background: #73a2bf18;
}

.contato input[type='submit'] {
    height: 45px;
    margin-top: 16px;
    color: white;
    font-size: 3rem;
    background-color: #73A2BF;
    cursor: pointer;
    border-radius: 4px;
}

.contato input[type='submit']:hover {
    background-color: #03588C;
}

.contato input[name='nome'] {
    text-transform: capitalize;
}

.contato textarea {
    width: 450px;
    height: 150px;
    resize: none;
    font-size: 1.6rem;
    border: none;
    background: #73a2bf18;
}

.form-container hr {
    width: 2px;
    height: 350px;
    background: #03588C;
    border: none;
    margin-left: 60px;
}

.frase-fofa {
    width: 350px;
    height: 300px;
    padding: 32px;

}

.frase-fofa p {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 500;
}

@media(max-width:880px) {
    .form-container hr {
        display: none;
    }
}
















/* FOOTER */

footer {
    width: 100%;
    height: 150px;
    background: #24272b;
}