{% extends 'layout.njk' %}

{% block head %}
    <title>Blog</title>
    <link rel="stylesheet" href="/gallery.css">
{% endblock %}

{% block content %}

    <section class="post-gallery">

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

        <article class='card-gallery'>
            <img src="img/04.jpg" alt="">
        </article>

    </section>
    <script src="menu.js"></script>

{% endblock %}